html,main,body{margin: 0;height: 100%;width: 100%;}
.header{height:40px;width: 100%;position:absolute;
	background-color: #f5f5f0;
	padding:10px 100px 10px 100px;font-size: 24px;}
	.topright{height:40px;width:100%;position:relative;color:red;
		font-size: 18px;padding:10px 100px 10px 100px;text-align: right;}